/* GENERAL */
.page {
  background: #ffffff;
  color: #333;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.nav {
  width: 100%;
  background: white;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  padding: 15px 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #b30000;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.link {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.link:hover {
  color: #b30000;
}

.btn-registro {
  background: #b30000;
  color: white !important;
  padding: 10px 18px;
  border-radius: 12px;
  text-decoration: none;
}

.btn-registro:hover {
  background: #990000;
}

/* HERO */
.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  margin-top: 80px; /* espacio por el navbar */
}

.hero-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.45;
}

.hero-content {
  position: relative;
  text-align: center;
  padding: 20px;
  margin-top: 150px;
}

.hero-title {
  font-size: 55px;
  font-weight: bold;
  color: #b30000;
}

.hero-text {
  margin-top: 20px;
  font-size: 22px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  margin-top: 30px;
  padding: 14px 30px;
  background: #b30000;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

.hero-btn:hover {
  background: #990000;
}

/* DESTACADOS */

.destacados {
  background: #f2f2f2;
  padding: 80px 20px;
}

.destacados-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #b30000;
  margin-bottom: 50px;
}

.destacados-grid {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.card {
  background: white;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  color: #b30000;
  margin-bottom: 12px;
}
